@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'ubuntu', monospace;
}

.icon {
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.907);
}

#card-bg {
  width: 100%;
  margin: auto;
}

.editable {
  cursor: text;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color: #fff;
  margin: 8em auto;
  border: 1px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px gray, -3px -3px 3px rgb(34, 100, 100);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7em;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  background-color: rgba(128, 128, 128, 0.8);
}

.list-title {
  margin-left: 20px;
}

.reload-icon {
  margin-right: 20px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.new-task {
  border: none;
  width: 400px;
  height: 40px;
  margin-left: 20px;
  border-radius: 4px;
  font-size: 14px;
  text-indent: 15px;
}

.fa-right-from-bracket {
  margin-right: 20px;
}

::placeholder {
  padding-left: 5px;
  font-size: 16px;
}

.tasks-container {
  align-items: center;
  width: 100%;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.task:nth-child(1) {
  margin-top: 25px;
}

.task .left-side {
  display: flex;
  column-gap: 10px;
  margin-left: 15px;
}

.task .right-side {
  margin-right: 15px;
}

.completed-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  padding: 20px 0;
  width: 100%;
  height: 2em;
  border-radius: 0 0 8px 8px;
}

.completed-text {
  border: none;
  font-size: 16px;
  color: #fff;
  background-color: blueviolet;
  cursor: pointer;
}

.completed-text:hover {
  text-decoration: underline;
  color: aqua;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    background-color: rgb(165, 218, 32);
  }

  #container {
    width: 90%;
    height: 90vh;
  }

  .new-task {
    height: 20px;
  }
}
